body{
    font-family: 'Comic Sans MS'
}
.site-heading-lower{font-family: 'Comic Sans MS';}
.mb-3{font-family: 'Comic Sans MS'; color: rgb(237, 237, 42);!important;}
.notyellow{color:black;!important;}
.intro-text{ box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.5);} 
